node_modules/
www/
.DS_Store
*.apk
.idea/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
*.iml
local.properties
*.keystore
capacitor.config.json.tmp*
